<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="flex-column">
        <figure class="figure">
          <img src="http://www.wecreatedesign.co.uk/img/oops.png" class="figure-img img-fluid rounded" alt="Oops! Page not found.">
          <figcaption class="figure-caption text-center">
            <div>
              Something went wrong.<br>
              <a class="btn btn-info btn-sm" href="#">Return to homepage</a>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </header>
</section>