<div class="card">
    <div class="card-header">
        Product details
    </div>
    <div class="class-body">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img [src]="'https://openclipart.org/download/'+ selectedProduct.productImageURL" [title]='selectedProduct.productName'/>
                </div>
                <div class="col-10 text-justify text-wrap">
                    {{selectedProduct.productDescription}}
                </div>
            </div>
        </div>
    </div>
</div>